<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jessica's Burgers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="javascripts/ingredients.js"></script>
  <script type="text/javascript" src="javascripts/order.js"></script>
  <script type="text/javascript" src="javascripts/kitchen.js"></script>

</html>